$light-100: #fbfbff;
$light-200: #f7f9f9;
$grey: #b4b4b4;
$dark: #000a1a;
$accent: #45b69c;
$font: "Roboto";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600&display=swap");

.accent {
  color: $accent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: $dark;
  &__container {
    margin: 0 auto;
    background-color: $dark;
    color: $light-200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
  }
  &__name {
    color: $accent;
    font-weight: 700;
    font-size: 1.75rem;
  }
  &__links {
    display: flex;
    gap: 1rem;
  }
  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: $accent;
    &:hover {
      text-decoration: underline;
    }
  }
}
.hero {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $dark;
  color: $light-100;
  padding: 4rem 1.5rem;
  &__photo {
    width: 100px;
    height: 100px;
    background-size: 250%;
    background-image: url(/public/images/me.jpg);
    background-position: top 41.5% left 58%;
    border-radius: 50%;
    border: 5px solid $accent;
  }
  &__name {
    text-align: center;
    font-family: $font;
    color: $light-200;
    font-size: clamp(2rem, 10vw, 4rem);
    padding-top: 1.5rem;
    letter-spacing: 1px;
  }
  &__accent {
    color: $accent;
  }
  &__about {
    font-weight: 500;
    text-align: center;
  }
  &__more-about {
    font-size: 1.25rem;
    padding-top: 1.25rem;
  }
}

.skills {
  background-color: $grey;
  color: $dark;
  width: 100%;
  padding: 2rem 1.5rem 4rem;
  &__heading {
    text-align: center;
    color: $dark;
  }
  &__ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.75rem 1rem;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 1rem;
    &__li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .icon {
      color: $dark;
      font-size: 2rem;
    }
  }
}

.projects {
  color: $dark;
  padding: 2rem 1.5rem 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $light-100;
  box-shadow: 0 40px 40px 10px rgba(0, 0, 0, 0.1) inset;
  &__heading {
    margin: 0 auto;
    padding-bottom: 0.75rem;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
  }
  &__show-more {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    font-family: $font;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.project {
  max-width: 750px;
  background-color: $light-100;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 7.5px rgba(black, 0.3);
  transition: 250ms;
  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 10px 20px rgba(black, 0.3);
      transform: scale(1.05);
    }
  }
  &__info {
    padding: 1rem;
    font-size: 0.9125rem;
    flex: 1;
  }
  &__name {
    text-align: left;
    color: $accent;
    font-size: 1.25rem;
  }
  &__tech-stack {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding-bottom: 0.25em;
  }
  &__tech {
    color: $dark;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  &__desc {
    color: $dark;
    padding-bottom: 1rem;
    text-align: left;
  }
  &__links {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }
  &__link {
    text-decoration: underline;
    color: $dark;
    color: $accent;
    font-weight: 500;
    border: 2px solid transparent;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.9125rem;
  }
  &__img {
    flex: 0.75;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &.cocktails {
      background-image: url(../public/images/cocktails-ss.png);
      background-position: top 2% left;
    }

    &.flag-game {
      background-image: url(../public/images/flag-game-react-ss.png);
      background-position: top 5% left 50%;
    }

    &.dictionary {
      background-image: url(../public/images/dictionary-ss.png);
      background-position: left 0%;
    }
    &.audiophile {
      background-image: url(../public/images/audiophile.jpg);
      background-size: 150%;
    }

    &.devjobs {
      background-image: url(../public/images/devjobs.jpg);
    }
    &.comments {
      background-image: url(../public/images/comments.jpg);
      background-size: 175%;
      background-position: top -10px center;
    }
  }
}

.contact {
  background-color: $dark;
  width: 100%;
  color: $light-200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 7rem;
  position: relative;
  &__heading {
    padding-bottom: 0.75rem;
  }
  a {
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: $accent;
    color: $light-100;
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    @media (hover: hover) {
      &:hover {
        background: $light-100;
        color: $dark;
        border: 2px solid $dark;
      }
    }
  }

  &:visited {
    color: initial;
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & input {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic,
      sans-serif;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    border: 2px solid $dark;
    color: $dark;
    &:focus {
      outline: 0;
      border: 2px solid $accent;
    }
  }
}

.footer-form > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.message-input {
  resize: none;
  font-family: $font;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 2px solid $dark;
  color: $dark;
  &:focus {
    outline: 0;
    border: 2px solid $accent;
  }
}

.footer-submit-btn {
  cursor: pointer;
  background: $accent;
  color: $light-100;
  border: 2px solid transparent;
  padding: 0.5rem 1.25rem;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.5rem;
  @media (hover: hover) {
    &:hover {
      background: $light-100;
      color: $dark;
      border: 2px solid $dark;
    }
  }
}

.footer-arrows {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

@media (min-width: 1000px) {
  .header {
    padding-inline: 5rem;
  }
  .hero {
    &__photo {
      background-position: top 41.5% left 58%;

      width: 215px;
      height: 215px;
    }
  }
  .footer-form {
    gap: 0.5rem;
  }
  .footer-form > * {
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .double-r {
    font-size: 5vw;
  }
  .nav-item {
    font-size: 1.25rem;
    transition: font-size 1s ease;
  }
  .project-list {
    .tech-slider {
      .tech {
        margin: 0;
      }
    }
  }
  .about-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .project-list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .project-desc {
    font-size: 1.25rem;
  }

  .skills {
    .icon {
      font-size: 4rem;
    }
    &__ul__li {
      font-size: 1.25rem;
    }
  }
}
