@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap");
.accent {
  color: #006849;
}

.accent-dark {
  color: rgb(251, 251, 251);
}

h2 {
  font-size: 2.25rem;
  font-family: Dosis;
  font-weight: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1) inset;
  background-color: whitesmoke;
}

.hero {
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
}
.hero .name {
  text-align: left;
}
.hero .name__name {
  font-family: Dosis;
  color: #002659;
  font-size: 4rem;
}
.hero .name__title {
  margin-top: -2.25%;
  font-size: 0.95rem;
  font-style: italic;
  font-weight: normal;
}

.projects-section {
  color: #002659;
  padding: 1rem 1.5rem 4rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}
.projects-section__title {
  text-align: left;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1rem;
  background-color: whitesmoke;
}

.project {
  max-width: 500px;
  background-color: rgb(251, 251, 251);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.3);
  transition: 250ms;
}
@media (hover: hover) {
  .project:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }
}

.project-info {
  padding: 1rem;
  font-size: 0.9125rem;
  flex: 1;
}

.project-name {
  text-align: left;
  color: #006849;
}

.project-tech-stack {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-bottom: 0.25em;
}

.project-tech {
  color: #002659;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.project-desc {
  color: #002659;
  padding-bottom: 1rem;
  text-align: left;
}

.project-links {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.project-link,
.project-link a {
  text-decoration: underline;
  color: #002659;
  border: 2px solid transparent;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  font-size: 0.9125rem;
}

.project-img {
  flex: 0.75;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}

.project-img.cocktails {
  background-image: url(../public/images/cocktails-ss.png);
  background-position: top 2% left;
}

.project-img.flag-game {
  background-image: url(../public/images/flag-game-react-ss.png);
  background-position: top 5% left;
}

.project-img.todo-list {
  background-image: url(../public/images/todo-app-ss.jpg);
}

.project-img.space {
  background-image: url(../public/images/space-tourism-website-ss.png);
}

.project-img.comments {
  background-image: url(../public/images/comments.jpg);
  background-size: 150%;
}

.project-img.bookmark {
  background-image: url(../public/images/bookmark.jpg);
}

.project-img.devjobs {
  background-image: url(../public/images/devjobs.jpg);
}

#about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #006849;
  color: rgb(251, 251, 251);
  padding: 2rem 2rem 4rem;
  width: 100%;
}
#about-section h2 {
  color: rgb(251, 251, 251);
}

.about-ul {
  max-width: 1100px;
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr;
  align-items: top;
  margin-top: 0.5rem;
  gap: 1.5rem;
}

.about-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(251, 251, 251);
  color: #002659;
  border-radius: 5px;
  max-width: 500px;
}

.about-svg {
  height: 200px;
  width: 100%;
  margin-top: 1rem;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(../public/images/soccer.svg);
}

.about-icon {
  font-size: 2.5rem;
  color: rgb(251, 251, 251);
}

.about-p {
  padding: 1rem;
  font-size: 1rem;
}

#contact-section {
  background-color: #002659;
  width: 100%;
  color: rgb(251, 251, 251);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 7rem;
  position: relative;
}
#contact-section .contact-title {
  padding-bottom: 0.5rem;
}
#contact-section a {
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  position: relative;
  background: #006849;
  color: rgb(251, 251, 251);
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 15px;
}
@media (hover: hover) {
  #contact-section a:hover {
    background: rgb(251, 251, 251);
    color: #002659;
    border: 2px solid #002659;
  }
}
#contact-section:visited {
  color: initial;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-form input {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  border-radius: 2px;
  border: 0;
  border: 2px solid rgb(251, 251, 251);
  color: #002659;
}
.footer-form input:focus {
  outline: 0;
  border: 2px solid #002659;
}

.footer-form > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.message-input {
  resize: none;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 2px;
  border: 2px solid rgb(251, 251, 251);
  color: #002659;
}
.message-input:focus {
  outline: 0;
  border: 2px solid #002659;
}

.footer-submit-btn {
  cursor: pointer;
  background: #006849;
  color: rgb(251, 251, 251);
  border: 2px solid transparent;
  padding: 0.5rem 1.25rem;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.5rem;
}
@media (hover: hover) {
  .footer-submit-btn:hover {
    background: rgb(251, 251, 251);
    color: #002659;
    border: 2px solid #002659;
  }
}

.footer-arrows {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

@media (min-width: 900px) {
  .tools {
    justify-content: center;
    max-width: 1100px;
    gap: 1.5rem;
    margin-top: 0.25rem;
    font-family: Dosis;
  }
  .tools-left,
.tools-right {
    text-align: center;
    flex-direction: row;
    gap: 1.5rem;
  }
  .tool {
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.45rem;
  }
  .footer-form {
    gap: 0.5rem;
  }
  .footer-form > * {
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .hello-container {
    margin-top: 5rem;
  }
  .double-r {
    font-size: 5vw;
  }
  .nav-item {
    font-size: 1.25rem;
    transition: font-size 1s ease;
  }
  .project-list .tech-slider .tech {
    margin: 0;
  }
  .about-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .project-list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .project-desc {
    max-width: 450px;
  }
}
.mesh {
  border: 10px solid red;
  z-index: 10;
}/*# sourceMappingURL=App.css.map */