$light: rgb(251, 251, 251);
$grey: rgb(243, 243, 243);
$dark: #002659;
$accent: rgb(6 95 70);
$font: "Dosis";

@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap");

.accent {
  color: $accent;
}

.accent-dark {
  color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1px 20px rgba(black, 0.1) inset;
  background-color: $light;
}

.hero {
  width: 100%;
  max-width: 500px;
  padding: 1.5rem;
  &__name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    margin: 0 auto;
    display: inline-block;
    text-align: center;
    font-family: $font;
    color: $dark;
    font-size: 4rem;
    line-height: 50px;
    padding-bottom: 0.75rem;
  }
  &__title {
    font-size: 0.95rem;
    font-style: italic;
  }
}

.projects {
  color: $dark;
  padding: 2rem 1.5rem 4rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $grey;
  &__heading {
    margin: 0 auto;
  }
  &__ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
    margin: 0 auto;
  }
  &__show-more {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
    font-family: $font;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.project {
  max-width: 750px;
  background-color: $light;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 7.5px rgba(black, 0.3);
  transition: 250ms;
  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 10px 20px rgba(black, 0.3);
      transform: scale(1.05);
    }
  }
  &__info {
    padding: 1rem;
    font-size: 0.9125rem;
    flex: 1;
  }
  &__name {
    text-align: left;
    color: $accent;
    font-size: 1.25rem;
  }
  &__tech-stack {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    padding-bottom: 0.25em;
  }
  &__tech {
    color: $dark;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  &__desc {
    color: $dark;
    padding-bottom: 1rem;
    text-align: left;
  }
  &__links {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
  }
  &__link {
    text-decoration: underline;
    color: $dark;
    border: 2px solid transparent;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    font-size: 0.9125rem;
  }
  &__img {
    flex: 0.75;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    &.cocktails {
      background-image: url(../public/images/cocktails-ss.png);
      background-position: top 2% left;
    }

    &.flag-game {
      background-image: url(../public/images/flag-game-react-ss.png);
      background-position: top 5% left 50%;
    }

    &.todo-list {
      background-image: url(../public/images/todo-app-ss.jpg);
    }
    &.audiophile {
      background-image: url(../public/images/audiophile.jpg);
      background-size: 150%;
    }

    &.bookmark {
      background-image: url(../public/images/bookmark.jpg);
    }
    &.devjobs {
      background-image: url(../public/images/devjobs.jpg);
    }
  }
}

.contact {
  background-color: $dark;
  width: 100%;
  color: $light;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem 7rem;
  position: relative;
  &__heading {
    padding-bottom: 0.5rem;
  }
  a {
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
    background: $accent;
    color: $light;
    border: 2px solid transparent;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    border-radius: 15px;
    @media (hover: hover) {
      &:hover {
        background: $light;
        color: $dark;
        border: 2px solid $dark;
      }
    }
  }

  &:visited {
    color: initial;
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  & input {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic,
      sans-serif;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border-radius: 2px;
    border: 0;
    border: 2px solid $light;
    color: $dark;
    &:focus {
      outline: 0;
      border: 2px solid $dark;
    }
  }
}

.footer-form > * {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.message-input {
  resize: none;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 2px;
  border: 2px solid $light;
  color: $dark;
  &:focus {
    outline: 0;
    border: 2px solid $dark;
  }
}

.footer-submit-btn {
  cursor: pointer;
  background: $accent;
  color: $light;
  border: 2px solid transparent;
  padding: 0.5rem 1.25rem;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.5rem;
  @media (hover: hover) {
    &:hover {
      background: $light;
      color: $dark;
      border: 2px solid $dark;
    }
  }
}

.footer-arrows {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

@media (min-width: 900px) {
  .tools {
    justify-content: center;
    max-width: 1100px;
    gap: 1.5rem;
    margin-top: 0.25rem;
    font-family: $font;
  }

  .tools-left,
  .tools-right {
    text-align: center;
    flex-direction: row;
    gap: 1.5rem;
  }

  .tool {
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.45rem;
  }

  .footer-form {
    gap: 0.5rem;
  }
  .footer-form > * {
    gap: 0.5rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .hello-container {
    margin-top: 5rem;
  }

  .double-r {
    font-size: 5vw;
  }
  .nav-item {
    font-size: 1.25rem;
    transition: font-size 1s ease;
  }
  .project-list {
    .tech-slider {
      .tech {
        margin: 0;
      }
    }
  }
  .about-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .project-list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
  .project-desc {
    max-width: 450px;
  }
}

.mesh {
  border: 10px solid red;
  z-index: 2;
}
